<h1>Words finder</h1>
<p>Type your sentence and find your keyword.</p>
<br>

<form action="/howOften" method="post">

    <label for="your-sentence">Enter a sentence: </label>
    <input name="your-sentence" id="your-sentence" type="text">
    <label for="your-keyWord"> Enter a Keyword: </label>
    <input name="your-keyWord" id="your-keyWord" type="text">
  <br>
  <hr>
  <button class='btn' type='submit'> Submit </button>
  <hr>
</form>
